@{ 


}

<div>
    <form  action="Authorize", method="Post">
    
               
                <input type="text" name="Username" placeholder="Username"  class="form-control" />
             
          
            
                <input type="password"  name="Password "  placeholder=" password"class="form-control" />
                <input type="submit" value="Authorize"/>
            
         
    </form>
</div>